body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.container-recettes {
    max-width: 80vw;
    height: auto;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.recette {
    max-width: 400px;
    border: 1px solid #ddd;
    padding: 10px 20px;
}

.recette h3 {
    margin: 20px;
}

.recette p {
    margin: 10px 0;
}

.recette img {
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

/* Style pour le Formulaire de la page Ajout.html*/
form {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form textarea,
form input[type="file"] {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

/* fin du style pour le Formulaire de la page ajout.html */

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
    width: 100%;

}

@media screen and (max-width: 600px) {
    .container-recettes {
        flex-direction: column;
    }
}